.container{
    width: 30vw;
    height: 40vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: aqua;
}

#current-time{
    font-size: large;
}
.output{
    margin-top: 30px;
}
#current-time{
    font-size: 100px;
}